<div class="main">
    <div class="wrapper">
        <a href="javascript:void(0)" (click)="back()" class="back">  
            <i class="fa fa-angle-left fa-2x pointer arrow"></i>
        </a>
        <div class="logo">
            <img src="./assets/Payisy-Logo.png" class="logo-img">
        </div>
        <div class="logo-design"></div>
    </div>

    <div class="section">
        <form [formGroup]="form" (ngSubmit)="onresetPassword()">
            <div class="loginForm top">
                <img src="./assets/CompanyLogo.png" class="logo-img1 mt-2">
                <h4>Hello SWAP007</h4>
                <div class="pt-1">  
                    <input class="form-control" formControlName="oldpassword" maxlength="30" [type]="password1" placeholder="Enter Old Password"
                    [ngClass]="{ 'is-invalid': submitted && f.oldpassword.errors }"/>
                    <span (click)="onClick()">
                        <i class="fa fa-eye toggle-password" aria-hidden="true" *ngIf="!show1"></i>
                        <i class="fa fa-eye-slash toggle-password" aria-hidden="true" *ngIf="show1"></i>
                    </span>
                    <div *ngIf="submitted && f.oldpassword.errors" class="invalid-feedback">
                        <div *ngIf="f.oldpassword.errors.required">Old password is required</div>
                        <div *ngIf="f.oldpassword.errors.maxlength">Maximum length should be 30</div>
                    </div>
                </div>
                <div class="pt-1">  
                    <input class="form-control" formControlName="newpassword" maxlength="30" [type]="password2" placeholder="Set New Password"
                    [ngClass]="{ 'is-invalid': submitted && f.newpassword.errors }"/>
                    <span (click)="onClick1()">
                        <i class="fa fa-eye toggle-password" aria-hidden="true" *ngIf="!show2"></i>
                        <i class="fa fa-eye-slash toggle-password" aria-hidden="true" *ngIf="show2"></i>
                    </span>
                    <div *ngIf="submitted && f.newpassword.errors" class="invalid-feedback">
                        <div *ngIf="f.newpassword.errors.required">New password is required</div>
                        <div *ngIf="f.newpassword.errors.maxlength">Maximum length should be 30</div>
                    </div>
                </div>
                <div class="pt-1">  
                    <input class="form-control" formControlName="confirmpassword" maxlength="30" [type]="password3" placeholder="Confirm New Password"
                    [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }"/>
                    <span (click)="onClick2()">
                        <i class="fa fa-eye toggle-password" aria-hidden="true" *ngIf="!show3"></i>
                        <i class="fa fa-eye-slash toggle-password" aria-hidden="true" *ngIf="show3"></i>
                    </span>
                    <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmpassword.errors.required">Confirm new password is required</div>
                        <div *ngIf="f.confirmpassword.errors.maxlength">Maximum length should be 30</div>
                    </div>
                </div>
                <div class="mt-3 btnGap">
                    <button type="submit" class="btn btnColor btn-primary">Submit</button>
                    <button type="button" (click)="onClear()" class="btn btn-block btn-primary">Cancel</button>
                </div>
            </div>
        </form>  
    </div>
</div>