<div class="main">
    <div class="wrapper">
        <a href="javascript:void(0)" (click)="back()" class="back">  
            <i class="fa fa-angle-left fa-2x pointer arrow"></i>
        </a>
        <div class="logo">
            <img src="./assets/Payisy-Logo.png" class="logo-img">
        </div>
        <div class="logo-design"></div>
    </div>

    <div class="section">
        <form [formGroup]="form" (ngSubmit)="registration()">
            <div class="regText top">
                <h5>REGISTRATION</h5>
                <div class="form-group">
                    <div class="username">
                        <input type="text" formControlName="username" maxlength="30" required class="form-control" name="username" placeholder="Set Username"
                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Username is required</div>
                            <div *ngIf="f.username.errors.maxlength">Maximum length should be 30</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input [type]="password" id="password" formControlName="password" maxlength="30" required class="form-control" placeholder="Set Password"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                    <span (click)="onClick()">
                        <i class="toggle-password fa fa-fw fa-eye" *ngIf="!show"></i>
                        <i class="toggle-password fa fa-fw fa-eye-slash" *ngIf="show"></i>
                    </span>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.maxlength">Maximum length should be 30</div>
                    </div>
                </div>
                <div class="form-group">
                    <input [type]="password1" id="cpassword" formControlName="cpassword" maxlength="30" required class="form-control" placeholder="Confirm Password"
                    [ngClass]="{ 'is-invalid': submitted && f.cpassword.errors }"/>
                    <span (click)="onClick1()">
                        <i class="toggle-password fa fa-fw fa-eye" *ngIf="!show1"></i>
                        <i class="toggle-password fa fa-fw fa-eye-slash" *ngIf="show1"></i>
                    </span>
                    <div *ngIf="submitted && f.cpassword.errors" class="invalid-feedback">
                        <div *ngIf="f.cpassword.errors.required">Confirm password is required</div>
                        <div *ngIf="f.cpassword.errors.maxlength">Maximum length should be 30</div>
                    </div>
                </div>
                <div class="form-group">
                    <input [type]="password2" id="pin" formControlName="pin" maxlength="30" required class="form-control" placeholder="Set Pin"
                    [ngClass]="{ 'is-invalid': submitted && f.pin.errors }"/>
                    <span (click)="onClick2()">
                        <i class="toggle-password fa fa-fw fa-eye" *ngIf="!show2"></i>
                        <i class="toggle-password fa fa-fw fa-eye-slash" *ngIf="show2"></i>
                    </span>
                    <div *ngIf="submitted && f.pin.errors" class="invalid-feedback">
                        <div *ngIf="f.pin.errors.required">Pin is required</div>
                        <div *ngIf="f.pin.errors.maxlength">Maximum length should be 30</div>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <input [type]="password3" id="cpin" formControlName="cpin" maxlength="30" required class="form-control" placeholder="Confirm Pin"
                    [ngClass]="{ 'is-invalid': submitted && f.cpin.errors }"/>
                    <span (click)="onClick3()">
                        <i class="toggle-password fa fa-fw fa-eye" *ngIf="!show3"></i>
                        <i class="toggle-password fa fa-fw fa-eye-slash" *ngIf="show3"></i>
                    </span>
                    <div *ngIf="submitted && f.cpin.errors" class="invalid-feedback">
                        <div *ngIf="f.cpin.errors.required">Confirm pin is required</div>
                        <div *ngIf="f.cpin.errors.maxlength">Maximum length should be 30</div>
                    </div>
                </div>
                <div class="mt-1 btnGap">
                    <button type="submit" class="btn" class="btn btnColor btn-primary">Submit</button>
                    <button type="button" class="btn" (click)="onClear()" class="btn btn-block btn-primary">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>