.main {
  width: 100%;
  height: 100vh;
}
.wrapper {
  width: 100%;
  height: 25vh;
  background-color: rgb(2, 47, 129);
}
.section {
  border-radius: 45px 45px 10px 10px;
  margin-top: -37px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: 75vh;
  word-wrap: break-word;
  background-color: #fff;
}

.logo {
  background-color: white;
  height: 110px;
  width: 170px;
  border-radius: 15px;
  position: absolute;
  z-index: 99;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-design {
  background-color: rgb(185, 220, 233);
  height: 110px;
  width: 200px;
  border-radius: 15px;
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-img {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.arrow {
  color: white;
  margin: 15px;
}

.btnColor {
  background-color: rgb(2, 47, 129);
}

.btnGap {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.btn {
  width: 50%;
}

h4 {
  font-weight: 700;
  font-size: 18px;
}

.regText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 75%;
  gap: 6px;
}

.top {
  margin-top: 82px;
}

h5 {
  font-weight: 700;
}

input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #aba6a6;
}

.toggle-password {
  float: right;
  cursor: pointer;
  margin-right: 10px;
  margin-top: -25px;
}

.form-control:focus {
  color: none;
  background-color: none;
  border-color: none;
  outline: 0;
  box-shadow: none;
}
.invalid-feedback {
  text-align: left;
}
.form-control.is-invalid {
  background-image: none;
}
.form-group {
  margin-bottom: 3px;
}
