.main {
  width: 100%;
}
.wrapper {
  width: 100%;
  height: 20vh;
  background-color: rgb(2, 47, 129);
}
.arrow {
  color: white;
  margin: 25px 0px 0px 15px;
}
.section {
  background-color: #b6daf2;
  height: 8vh;
  margin-top: -35px;
  border-radius: 40px 40px 0px 0px;
  border-bottom: 3px solid #ced4da;
}
.transactiontext {
  color: rgb(2, 47, 129);
  font-weight: 700;
}
.btn2 {
  background-color: rgb(2, 47, 129);
  color: #ffc107;
  font-size: 20px;
  font-weight: 700;
}

.dateTime {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: #0dcaf0;
}
.mainSection {
  padding: 10px;
}
.process {
  color: white;
  font-size: 18px;
  font-weight: 700;
}
.errorMsg {
  color: #6c757d;
}
.radiuos {
  margin-bottom: -7px;
}
.table td {
  padding: 6px;
}
.colorwhite {
  color: white;
  background-color: #17a2b8;
  font-weight: 700;
}
.colorblue {
  color: rgb(2, 47, 129);
  background-color: #59bfce94;
  font-weight: 700;
}
.table {
  border-collapse: collapse;
  border-style: hidden;
}
.table-bordered td,
.table-bordered th {
  border: 2px solid rgb(2, 47, 129);
}

@media only screen and (min-height: 730px) {
  .section {
    height: 7vh;
  }
}
@media only screen and (min-height: 811px) {
  .section {
    height: 7vh;
  }
}
