<app-header></app-header>
<div class="main mt-5">
    <div class="wrapper pt-4">
        <a href="javascript:void(0)" (click)="back()" class="back">  
            <i class="fa fa-angle-left fa-2x pointer arrow"></i>
        </a>
    </div>
    <div class="section">
        <div class="transaction">
            <h6 class="transactiontext text-center py-3">TRANSACTION DETAILS</h6>
        </div>
        <div class="mainSection mt-3">
            <div class="dateTime">
                <h6>21-10-2021</h6>
                <h6>02:59:00 PM</h6>
            </div>
            <button type="button" class="btn btn-warning btn-block"><span class="process">Processing</span></button>
            <div class="table-responsive-sm radiuos mt-2">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td class="colorwhite">Transaction Id</td>
                        <td class="colorblue">10253AA003</td>
                    </tr>
                    <tr>
                        <td class="colorwhite">Transaction Type</td>
                        <td class="colorblue">Salary Advance</td>
                    </tr>
                    <tr>
                        <td class="colorwhite">Account Number</td>
                        <td class="colorblue">100674370000001</td>
                    </tr>
                    <tr>
                        <td class="colorwhite">Bank Name</td>
                        <td class="colorblue">State Bank of India</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <button type="button" class="btn btn2 mb-1 btn-block"><span class="rupees">Rs. 2000</span></button>
            <h6 class="errorMsg">Due to bad connection of our internal wireless, system, your request for salary advance is still under process. We will notify you as soon as our system are up and running.</h6>
        </div>
    </div>
</div>
<app-footer></app-footer>
