<div class="main">
    <div class="wrapper">
        <a href="javascript:void(0)" (click)="back()" class="back">  
            <i class="fa fa-angle-left fa-2x pointer arrow"></i>
        </a>
        <div class="logo">
            <img src="./assets/Payisy-Logo.png" class="logo-img">
        </div>
        <div class="logo-design"></div>
    </div>

    <div class="section">
        <form [formGroup]="form" (ngSubmit)="login()">
            <div class="loginForm top">
                <h4>LOGIN</h4>
                <img src="./assets/CompanyLogo.png" class="logo-img1 mt-3">
                <div class="pt-3">  
                    <input class="form-control" formControlName="username" required maxlength="30" type="text" placeholder="Enter Username"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                        <div *ngIf="f.username.errors.maxlength">Maximum length should be 30</div>
                    </div>
                </div>
                <div class="pt-2">  
                    <input class="form-control" formControlName="password" required maxlength="30" [type]="password" placeholder="Enter Password"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                    <span (click)="onClick()">
                        <i class="fa fa-eye toggle-password" aria-hidden="true" *ngIf="!show"></i>
                        <i class="fa fa-eye-slash toggle-password" aria-hidden="true" *ngIf="show"></i>
                    </span>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.maxlength">Maximum length should be 30</div>
                    </div>
                </div>
                <h6 class="message">Forgot Password?&nbsp;<a routerLink="/reset">Click here to reset</a></h6>
                <div class="mt-4 btnGap">
                    <button type="submit" class="btn btnColor btn-primary">Submit</button>
                    <button type="button" (click)="onClear()" class="btn btn-block btn-primary">Cancel</button>
                </div>
            </div>
        </form>  
    </div>
</div>
