<div class="main">
    <div class="wrapper">
        <a href="javascript:void(0)" (click)="back()" class="back">  
            <i class="fa fa-angle-left fa-2x pointer arrow"></i>
        </a>
        <div class="logo">
            <img src="./assets/Payisy-Logo.png" class="logo-img">
        </div>
        <div class="logo-design"></div>
    </div>

    <div class="section">
        <div class="otpText">
            <img src="./assets/CompanyLogo.png" class="logo-img1 mt-3">
            <h4>Hello SWAP007</h4>
            <h5>Enter OTP</h5>
            <h6>Code will be auto-verified in 18 seconds</h6>
            <div class="userInput">
                <input type="text" id='ist' maxlength="1">
                <input type="text" id="sec" maxlength="1">
                <input type="text" id="third" maxlength="1">
                <input type="text" id="fourth" maxlength="1">
            </div>
            <h6 class="message">Did not receive OTP?&nbsp;<a href="#">Resend Code</a></h6>
            <button type="button" [routerLink]="['/new-pin']" class="btn" class="btn btn2 mt-4 btn-block btn-primary"><span class="text">Verify OTP</span></button>
        </div>
    </div>
</div>