<app-header></app-header>
<div class="main mt-5">
    <div class="wrapper pt-4">
        <a href="javascript:void(0)" (click)="back()" class="back">  
            <i class="fa fa-angle-left fa-2x pointer arrow"></i>
        </a>
    </div>
    <div class="section">
        <div class="salaryAdvance">
            <h6 class="salarytext text-center py-3">ADVANCE WITHDRAWAL</h6>
        </div>
        <div class="mainSection">
            <div class="registrationForm mt-5">
                <img src="./assets/withdrawalConfirm.png" class="logo-imgs mt-3">
            </div>  
            <div class="text-center mt-5">
                <button type="button" [routerLink]="['/home']" class="btn btn2 btn-block btn-primary"><span class="text">Go to Dashboard</span></button>  
            </div>  
        </div>
    </div>
</div>
<app-footer></app-footer>