.main {
  width: 100%;
  /* height: 100vh; */
}
.wrapper {
  width: 100%;
  height: 20vh;
  background-color: rgb(2, 47, 129);
}
.arrow {
  color: white;
  margin: 25px 0px 0px 15px;
}
.section {
  background-color: #b6daf2;
  height: 8vh;
  margin-top: -35px;
  border-radius: 40px 40px 0px 0px;
  border-bottom: 3px solid #ced4da;
}
.salarytext {
  color: rgb(2, 47, 129);
  font-weight: 700;
}
.registrationForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 75%;
}
.logo-imgs {
  height: 100%;
  width: 95%;
  margin: 0 auto;
}
.btn2 {
  width: 65%;
  background-color: #003663;
  margin: 0 auto;
}

@media only screen and (min-height: 730px) {
  .section {
    height: 7vh;
  }
}
@media only screen and (min-height: 811px) {
  .section {
    height: 7vh;
  }
}
