.main {
  width: 100%;
  /* height: 100vh; */
}
.wrapper {
  width: 100%;
  height: 20vh;
  background-color: rgb(2, 47, 129);
}
.arrow {
  color: white;
  margin: 25px 0px 0px 15px;
}
.section {
  background-color: #b6daf2;
  height: 8vh;
  margin-top: -35px;
  border-radius: 40px 40px 0px 0px;
  border-bottom: 3px solid #ced4da;
}
.salarytext {
  color: rgb(2, 47, 129);
  font-weight: 700;
}
.advance {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.textColor {
  color: #0dcaf0;
}
.advancetext {
  text-align: end;
}
.amountText {
  font-weight: 700;
}
.btnColor {
  background-color: rgb(2, 47, 129);
  width: 65%;
  margin: 0 auto;
}
.btnGap {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 75%;
  margin: 0 auto;
}
.btn1 {
  width: 50%;
}
.input-container {
  display: flex;
  width: 71%;
  margin: 15px auto;
}

.icon {
  padding: 10px;
  background: #6c757d;
  color: white;
  min-width: 50px;
}

.input-field {
  width: 83%;
  border-width: 2px 2px 2px 0px;
  border-style: solid;
  border-color: #6c757d;
}

.input-field:focus {
  border-width: 2px 2px 2px 0px;
  border-style: solid;
  border-color: #6c757d;
  outline: none;
}
.otpText {
  text-align: center;
}

.otpText .message {
  margin: 4px 0 0;
  color: #83b8c3;
  font-size: 15px;
}

.otpText .message a {
  color: rgb(2, 47, 129);
  text-decoration: underline;
}

.userInput {
  display: flex;
  justify-content: center;
}

.inputbox {
  margin: 10px;
  height: 42px;
  width: 50px;
  border-radius: 5px;
  text-align: center;
  font-family: arimo;
  font-size: 1.2rem;
  border: 1px solid #aba6a6;
}

@media only screen and (min-height: 730px) {
  .section {
    height: 7vh;
  }
}
@media only screen and (min-height: 811px) {
  .section {
    height: 7vh;
  }
}
