<app-header></app-header>
<div class="main mt-5">
    <div class="wrapper pt-4">
        <a href="javascript:void(0)" (click)="back()" class="back">  
            <i class="fa fa-angle-left fa-2x pointer arrow"></i>
        </a>
    </div>
    <div class="section">
        <div class="salaryAdvance">
            <h6 class="salarytext text-center py-3">ADVANCE WITHDRAWAL</h6>
        </div>
        <div class="mainSection">
        <ng-container *ngIf="viewType === 'advsalary'">
        <div class="main1">
            <div class="advance mt-5">
                <div class="advancetext">
                    <h6>Advance Eligible</h6>
                    <h6>Advance Consumed</h6>
                    <h6>Advance Available</h6>
                </div>
                <div class="advancerupees">
                    <h6 class="textColor">Rs.15000</h6>
                    <h6 class="textColor">Rs.6000</h6>
                    <h6 class="textColor">Rs.9000</h6>
                </div>
            </div>
            <div class="amount text-center mt-3">
                <h6 class="amountText mb-3">Enter Amount</h6>
                <div class="input-container">
                    <i class="fa fa-inr icon"></i>
                    <input class="input-field" type="text" name="amount">
                </div>
            </div>
            <div class="mt-5 btnGap">
                <button type="submit" (click)="changeViewType('advsalary1')" class="btn btn1 btnColor btn-primary">Submit</button>
                <button type="button" class="btn btn1 btn-block btn-primary">Cancel</button>
            </div>
        </div>
        </ng-container>
        <ng-container *ngIf="viewType === 'advsalary1'">
        <div class="main2">
            <div class="advance mt-5">
                <div class="advancetext">
                    <h6>Withdrawal Amount</h6>
                    <h6>Bank Name</h6>
                    <h6>Bank Account Number</h6>
                </div>
                <div class="advancerupees">
                    <h6 class="textColor">Rs.2000</h6>
                    <h6 class="textColor">State Bank of India</h6>
                    <h6 class="textColor">1000748529465</h6>
                </div>
            </div>
            <div class="mt-5 btnGap">
                <button type="submit" (click)="changeViewType('advsalaryotp')" class="btn btn1 btnColor btn-primary">Send OTP</button>
                <button type="button" class="btn btn1 btn-block btn-primary">Cancel</button>
            </div>
        </div>
        </ng-container>
        <ng-container *ngIf="viewType === 'advsalaryotp'">
        <div class="main3">
            <div class="advance mt-5">
                <div class="advancetext">
                    <h6>Withdrawal Amount</h6>
                    <h6>Bank Name</h6>
                    <h6>Bank Account Number</h6>
                </div>
                <div class="advancerupees">
                    <h6 class="textColor">Rs.2000</h6>
                    <h6 class="textColor">State Bank of India</h6>
                    <h6 class="textColor">1000748529465</h6>
                </div>
            </div>
            <div class="otpText mt-3">
                <h6 style="font-weight:700">Enter OTP</h6>
                <h6 style="color:#aba6a6;">Code will be auto-verified in 18 seconds</h6>
                <div class="userInput">
                    <input class="inputbox" type="text" id='ist' maxlength="1">
                    <input class="inputbox" type="text" id="sec" maxlength="1">
                    <input class="inputbox" type="text" id="third" maxlength="1">
                    <input class="inputbox" type="text" id="fourth" maxlength="1">
                </div>
                <h6 class="message">Did not receive OTP?&nbsp;<a href="#">Resend Code</a></h6>
                <button type="button" [routerLink]="['/home/advance-withdrawal/withdrawal-confirm']" class="btn btnColor mt-4 btn-block btn-primary"><span class="text">Verify OTP</span></button>
            </div>
        </div>
        </ng-container>
    </div>
</div>
<app-footer></app-footer>