<nav class="navbar navbar-light navbar-color navbar-default">
    <div class="radious mx-5 my-2">
        <div class="homeimg">
            <img src="./assets/CompanyLogo1.png" class="logo-img mt-1">
        </div>
        <div class="homeimg">
            <img src="./assets/PayisyLogo1.png" class="logo-img1">
        </div>
    </div>
</nav>