.radious {
  display: flex;
  flex-direction: row;
  height: 70px;
  gap: 40px;
  justify-content: space-evenly;
}

.logo-img {
  height: 91%;
  width: 90%;
  margin: 0 auto;
}

.logo-img1 {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.navbar-color {
  background: #ffff;
}

@media screen and (max-width: 768px) {
  nav {
    width: 276%;
  }
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
