<div class="main">
    <div class="wrapper">
        <a href="javascript:void(0)" (click)="back()" class="back">  
            <i class="fa fa-angle-left fa-2x pointer arrow"></i>
        </a>
        <div class="logo">
            <img src="./assets/Payisy-Logo.png" class="logo-img">
        </div>
        <div class="logo-design"></div>
    </div>

    <div class="section">
        <form [formGroup]="form" (ngSubmit)="resetPin()">
            <div class="loginForm top">
                <img src="./assets/CompanyLogo.png" class="logo-img1 mt-2">
                <h4>Hello SWAP007</h4>
                <div class="pt-2">  
                    <input class="form-control" formControlName="newpin" maxlength="30" required [type]="password1" placeholder="Set New Pin"
                    [ngClass]="{ 'is-invalid': submitted && f.newpin.errors }"/>
                    <span (click)="onClick()">
                        <i class="fa fa-eye toggle-password" aria-hidden="true" *ngIf="!show1"></i>
                        <i class="fa fa-eye-slash toggle-password" aria-hidden="true" *ngIf="show1"></i>
                    </span>
                    <div *ngIf="submitted && f.newpin.errors" class="invalid-feedback">
                        <div *ngIf="f.newpin.errors.required">New pin is required</div>
                        <div *ngIf="f.newpin.errors.maxlength">Maximum length should be 30</div>
                    </div>
                </div>
                <div class="pt-2">  
                    <input class="form-control" formControlName="confirmpin" maxlength="30" required [type]="password2" placeholder="Confirm New Pin"
                    [ngClass]="{ 'is-invalid': submitted && f.confirmpin.errors }"/>
                    <span (click)="onClick1()">
                        <i class="fa fa-eye toggle-password" aria-hidden="true" *ngIf="!show2"></i>
                        <i class="fa fa-eye-slash toggle-password" aria-hidden="true" *ngIf="show2"></i>
                    </span>
                    <div *ngIf="submitted && f.confirmpin.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmpin.errors.required">Confirm new pin is required</div>
                        <div *ngIf="f.confirmpin.errors.maxlength">Maximum length should be 30</div>
                    </div>
                </div>
                <div class="mt-4 btnGap">
                    <button type="submit" class="btn btnColor btn-primary">Submit</button>
                    <button type="button" (click)="onClear()" class="btn btn-block btn-primary">Cancel</button>
                </div>
            </div>
        </form>  
    </div>
</div>