<div class="main">
    <div class="wrapper">
        <a href="javascript:void(0)" (click)="back()" class="back">  
            <i class="fa fa-angle-left fa-2x pointer arrow"></i>
        </a>
        <div class="logo">
            <img src="./assets/Payisy-Logo.png" class="logo-img">
        </div>
        <div class="logo-design"></div>
    </div>

    <div class="section">
        <div class="registrationForm top">
            <h4>PIN RESET</h4>
            <img src="./assets/pinresetConfirm.png" class="logo-imgs mt-3">
        </div>  
        <div class="text-center mt-5">
            <button type="button" [routerLink]="['/login']" class="btn btn2 btn-block btn-primary"><span class="text">Login</span></button>  
        </div>  
    </div>
</div>
