<div class="main">
    <div class="wrapper">
        <a href="javascript:void(0)" (click)="back()" class="back">  
            <i class="fa fa-angle-left fa-2x pointer arrow"></i>
        </a>
        <div class="logo">
            <img src="./assets/Payisy-Logo.png" class="logo-img">
        </div>
        <div class="logo-design"></div>
    </div>

    <div class="section">
        <div class="otpText">
            <h5>Enter PIN</h5>
            <img src="./assets/CompanyLogo.png" class="logo-img1 my-2">
            <div class="userInput">
                <input type="text" id='ist' maxlength="1">
                <input type="text" id="sec" maxlength="1">
                <input type="text" id="third" maxlength="1">
                <input type="text" id="fourth" maxlength="1">
                <input type="text" id="fifth" maxlength="1">
            </div>
            <h6 class="message">Forgot Pin?&nbsp;<a routerLink="/forgot-pin">Click here to reset</a></h6>
            <div class="text-center mt-5">
                <button type="button" [routerLink]="['/home']" class="btn btn2 btn-block btn-primary"><span class="text">Dashboard</span></button>  
            </div>  
        </div>
    </div>
</div>
