.main{
    width: 100%;
    height: 100vh;
}
.wrapper {
  width: 100%;
  height: 25vh;
  background-color: rgb(2, 47, 129);
}
.section {
  border-radius: 45px 45px 10px 10px;
  margin-top: -37px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height:75vh;
  word-wrap: break-word;
  background-color: #fff;
}

.registrationForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 75%;
}
h4 {
  font-weight: 700;
  font-size: 18px;
}

.arrow {
  color: white;
  margin: 15px;
}
.logo {
    background-color: white;
    height: 110px;
    width: 170px;
    border-radius: 15px;
    position: absolute;
    z-index: 99;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-design {
    background-color: rgb(185, 220, 233);
    height: 110px;
    width: 200px;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btnColor {
  background-color: rgb(2, 47, 129);
}
.top {
  margin-top: 95px;
}
.logo-img{
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
.logo-img1{
  height: 90%;
  width: 83%;
  margin: 0 auto;
}
.btn2{
    width: 65%;
    background-color:#003663;
    margin:0 auto;
}

.text{
    font-weight:500;
}