.main {
  width: 100%;
  height: 100vh;
}

.wrapper {
  width: 100%;
  height: 25vh;
  background-color: rgb(2, 47, 129);
}

.section {
  border-radius: 45px 45px 10px 10px;
  margin-top: -37px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: 75vh;
  word-wrap: break-word;
  background-color: #fff;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 75%;
  gap: 5px;
}

h4 {
  font-weight: 700;
  font-size: 18px;
  color: #83b8c3;
  margin-top: 10px;
}

.arrow {
  color: white;
  margin: 15px;
}

input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #aba6a6;
}

.logo {
  background-color: white;
  height: 110px;
  width: 170px;
  border-radius: 15px;
  position: absolute;
  z-index: 99;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-design {
  background-color: rgb(185, 220, 233);
  height: 110px;
  width: 200px;
  border-radius: 15px;
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btnColor {
  background-color: rgb(2, 47, 129);
}

.top {
  margin-top: 95px;
}

.logo-img {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.logo-img1 {
  height: 40%;
  width: 40%;
  margin: 0 auto;
}

.btnGap {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.btnColor {
  background-color: rgb(2, 47, 129);
}

.loginForm .message {
  margin: 15px 0 0;
  color: #83b8c3;
  font-size: 15px;
}

.loginForm .message a {
  color: rgb(2, 47, 129);
  text-decoration: underline;
}

.loginForm {
  text-align: center;
}

.btn {
  width: 50%;
}

.toggle-password {
  float: right;
  cursor: pointer;
  margin-right: 10px;
  margin-top: -25px;
}

.form-control:focus {
  color: none;
  background-color: none;
  border-color: none;
  outline: 0;
  box-shadow: none;
}

/* .wrapper1 .tooltip {
  position: absolute;
  padding: 10px;
}

.wrapper1:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
.wrapper1 .tooltip {
  position: absolute;
  border: 1px solid #adb5bd9c;
  border-radius: 2px;
  padding: 10px;
  margin-top: -3px;
  text-align: left;
  background: white;
}
.wrapper1 .tooltip:before {
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  bottom: 100%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: rgb(0 0 0 / 90%);
}

.wrapper1 .tooltip:after {
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  bottom: 100%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #f8f9fa;
} */

.invalid-feedback {
  text-align: left;
}
.form-control.is-invalid {
  background-image: none;
}
