<app-header></app-header>
<div class="main mt-5">
    <div class="wrapper pt-4">
        <a href="javascript:void(0)" (click)="back()" class="back">  
            <i class="fa fa-angle-left fa-2x pointer arrow"></i>
        </a>
    </div>
    <div class="section">
        <div class="profile">
        <h6 class="profiletext text-center py-3">PROFILE</h6>
        </div>
        <div class="mainSection top">
            <div class="empName mb-2">
                <h6 class="colorGrey">Emp Name</h6>
                <h6>Swapnil Ashok Agarwal</h6>
            </div>
            <div class="empId mb-2">
                <h6 class="colorGrey">Emp ID</h6>
                <h6>EMP201810</h6>
            </div>
            <div class="empEmail mb-2">
                <h6 class="colorGrey">Emp Email</h6>
                <div class="email">
                    <h6 class="colorBlue">swapnil.agarwal@gmail.com</h6>
                    <div class="input-container"><i class="fa fa-pencil pointer icon"></i></div>
                </div>
            </div>
            <div class="reset">
                <h6 class="colorDark"><u>Reset Pin</u></h6>
                <h6 class="colorDark"><span routerLink="/reset-password"><u>Reset Password</u></span></h6>
            </div>
            <div class="logout">
                <h6 class="colorRed">Logout</h6>
                <div class="input-container1"><i class="fa fa-caret-square-o-right fa-2x pointer icon1"></i></div>
            </div>
            <div class="btnGap mt-4">
                <button type="submit" [routerLink]="['/home']" class="btn btn2 btnColor btn-primary">Save</button>
                <button type="button" class="btn btn-block btn-primary">Cancel</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>