.main {
  width: 100%;
}
.wrapper {
  width: 100%;
  height: 20vh;
  background-color: rgb(2, 47, 129);
}
.arrow {
  color: white;
  margin: 25px 0px 0px 15px;
}
.section {
  background-color: #b6daf2;
  height: 8vh;
  margin-top: -35px;
  border-radius: 40px 40px 0px 0px;
  border-bottom: 3px solid #ced4da;
}
.profiletext {
  color: rgb(2, 47, 129);
  font-weight: 700;
}

.logo-imgs {
  height: 100%;
  width: 95%;
  margin: 0 auto;
}
.btn2 {
  width: 65%;
  background-color: #003663;
  margin: 0 auto;
}
.colorDark {
  color: #003663;
}
.mainSection {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}
.colorGrey {
  color: #adb5bd;
}
.colorBlue {
  color: #0dcaf0;
}
.email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.input-container {
  display: flex;
  margin: -5px 0px;
}
.input-container1 {
  display: flex;
  margin: -10px 0px 0px 0px;
}

.icon {
  padding: 10px;
  background: #ffff;
  color: #0dcaf0;
  min-width: 35px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.icon1 {
  padding: 7px;
  background: #ffff;
  color: #dc3545;
  min-width: 46px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.btnGap {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.btnColor {
  background-color: rgb(2, 47, 129);
}
.btn {
  width: 50%;
}
.logout {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  gap: 5%;
}

.colorRed {
  color: #dc3545;
}

.top {
  margin-top: 18px;
}
@media only screen and (min-height: 730px) {
  .section {
    height: 7vh;
  }
  .top {
    margin-top: 35px;
  }
}
@media only screen and (min-height: 811px) {
  .section {
    height: 7vh;
  }
  .top {
    margin-top: 35px;
  }
}
