.bg-img {
    background: url("src\assets\Artboard.png");
    background-repeat: no-repeat;
    /* background-position: center center; */
    /* background-attachment: fixed; */
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
}

