.main{
    width: 100%;
    height: 100vh;
}
.wrapper {
  width: 100%;
  height: 25vh;
  background-color: rgb(2, 47, 129);
}
.section {
  border-radius: 45px 45px 10px 10px;
  margin-top: -37px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height:75vh;
  word-wrap: break-word;
  background-color: #fff;
}

.logo {
    background-color: white;
    height: 110px;
    width: 170px;
    border-radius: 15px;
    position: absolute;
    z-index: 99;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-design {
    background-color: rgb(185, 220, 233);
    height: 110px;
    width: 200px;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-img{
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.arrow {
    color: white;
    margin: 15px;
}

.otpText{
    text-align:center;
}

.otpText .message{
    margin:15px 0 0;
    color:#83b8c3;
    font-size:15px;
}

.otpText .message a{
    color: rgb(2, 47, 129);
    text-decoration: underline;
}

h5{
    margin-top: 90px;
    font-weight: 700;
}

h6{
    color:#aba6a6;
}

.btn2{
    width: 65%;
    background-color:#003663;
    margin:0 auto;
}

.text{
    font-weight:500;
}

.userInput{
	display: flex;
	justify-content: center;
}

input{
    margin: 10px;
    height: 42px;
    width: 50px;
    border-radius: 5px;
    text-align: center;
    font-family: arimo;
    font-size: 1.2rem;
    border: 1px solid #aba6a6;
}