<app-header></app-header>
<div class="main mt-5">
    <div class="wrapper pt-4">
        <a href="javascript:void(0)" (click)="back()" class="back">  
            <i class="fa fa-angle-left fa-2x pointer arrow"></i>
        </a>
    </div>
    <div class="section">
        <div class="salaryAdvance">
            <h6 class="salarytext text-center py-3">HELP</h6>
        </div>
        <div class="mainSection">
            <div class="chat">
                <div class="chatone">
                    <div class="input-container">
                        <i class="fa fa-commenting-o pointer icon"></i>
                        <h6 class="chatText">Chat with us</h6>
                    </div>
                </div>
                <div class="chattwo">
                    <h6 style="color:grey">or Email us at</h6>
                    <h6 style="color:rgb(2, 47, 129)"><u>hr@shieldsbanking.co.in</u></h6>
                </div>
            </div>
            <div class="faq mt-3">
                <h6 class="text-center weight">FAQ</h6>
                <div class="acc mt-1">
                    <div id="accordion" class="accordion">
                        <div class="card">
                            <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                                <span class="card-title">
                                    How to apply for bank loan?
                                </span>
                            </div>
                            <div id="collapseOne" class="card-body collapse" data-parent="#accordion" >
                                <span>You can apply for a Personal loan with Shield Bank in a veriety of ways: NetBanking, online on the shield bank website, at an ATM or by visiting a branch.</span>
                            </div>
                            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                <span class="card-title">
                                  Maximum amount for Retail Term?
                                </span>
                            </div>
                            <div id="collapseTwo" class="card-body collapse" data-parent="#accordion" >
                                <span>................................</span>
                            </div>
                            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                <span class="card-title">
                                  How to earn cash rewards?
                                </span>
                            </div>
                            <div id="collapseThree" class="card-body collapse" data-parent="#accordion" >
                                <span>................................</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>