.main {
  width: 100%;
}
.wrapper {
  width: 100%;
  height: 20vh;
  background-color: rgb(2, 47, 129);
}
.arrow {
  color: white;
  margin: 25px 0px 0px 15px;
}
.section {
  background-color: #b6daf2;
  height: 8vh;
  margin-top: -35px;
  border-radius: 40px 40px 0px 0px;
  border-bottom: 3px solid #ced4da;
}
.salarytext {
  color: rgb(2, 47, 129);
  font-weight: 700;
}
.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}
.input-container {
  display: flex;
  width: 100%;
  border: 2px solid #ced4da;
  border-radius: 5px;
  padding: 12px;
}

.icon {
  color: #f09e0d;
  min-width: 27px;
  border-radius: 5px;
  font-size: 22px;
}
.chat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px;
  border-bottom: 2px solid #ced4da;
  gap: 14px;
}
.chatText {
  color: #19adcb;
  margin: 0;
}
.weight {
  font-weight: 700;
}

.card-body {
  background: #e9ecef;
  text-align: left;
  font-size: 14px;
  border-radius: 5px 5px 10px 10px;
  padding: 12px;
  margin: 0px 3px 0px 3px;
}
.card {
  border: none;
  margin-bottom: 3px;
}

.card-header {
  background: #19adcb;
  color: #ffff;
  text-align: left;
  font-size: 15px;
  margin: 3px;
}
.accordion > .card > .card-header {
  border-radius: 10px;
}
.accordion .card-header:after {
  font-family: "FontAwesome";
  content: "\f0d8";
  float: right;
  color: #ffff;
}
.accordion .card-header.collapsed:after {
  content: "\f0d7";
  color: #ffff;
}
@media only screen and (min-height: 730px) {
  .section {
    height: 7vh;
  }
}
@media only screen and (min-height: 811px) {
  .section {
    height: 7vh;
  }
}
