<app-header></app-header>
<div class="main mt-5">
    <div class="wrapper pt-4">
        <a href="javascript:void(0)" (click)="back()" class="back">  
            <i class="fa fa-angle-left fa-2x pointer arrow"></i>
        </a>
    </div>
    <div class="section">
        <div class="salaryAdvance">
            <h6 class="salarytext text-center py-3">NOTIFICATION DETAILS</h6>
        </div>
        <div class="mainSection mt-3">
            <div class="dateTime">
                <h6>21-10-2021</h6>
                <h6>02:59:00 PM</h6>
            </div>
            <div class="container1">
                <div class="gap">
                    <div class="input-container"><span class="icon">John Doe</span></div>
                </div>
            </div>
            <div class="container2">
                <div class="textmsg">
                    <h5 class="textColor">Pending Salary Advance</h5>
                    <h6>You have a salary advance request of Rupees 2000(Two Thousand) pending for approval. Please visit the transaction history section to view more details.</h6>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btnstyle btn-danger">Complete Approval Process</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>