.main {
  width: 100%;
}
.wrapper {
  width: 100%;
  height: 20vh;
  background-color: rgb(2, 47, 129);
}
.arrow {
  color: white;
  margin: 25px 0px 0px 15px;
}
.section {
  background-color: #b6daf2;
  height: 8vh;
  margin-top: -35px;
  border-radius: 40px 40px 0px 0px;
  border-bottom: 3px solid #ced4da;
}
.salarytext {
  color: rgb(2, 47, 129);
  font-weight: 700;
}
.dateTime {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: #0dcaf0;
  padding: 7px;
}

.container1 {
  height: 12vh;
  background-color: #e9ecef;
  padding: 16px 0px;
}

.box {
  width: 135px;
  height: 55px;
  background-color: #17a2b8;
}
.input-container {
  display: flex;
  width: 40%;
  background-color: #17a2b8;
}

.icon {
  padding: 10px;
  color: #ffff;
  min-width: 35px;
  font-weight: 500;
  font-size: 18px;
}

.textColor {
  color: #0dcaf0;
}
.textmsg {
  padding: 17px;
}
.btnstyle {
  border-radius: 20px;
  font-weight: 500;
  padding: 7px 15px 7px 15px;
}
@media only screen and (min-height: 730px) {
  .section {
    height: 7vh;
  }
  .container1 {
    padding: 20px 0px;
  }
}
@media only screen and (min-height: 811px) {
  .section {
    height: 7vh;
  }
  .container1 {
    padding: 26px 0px;
  }
}
