.main {
  width: 100%;
}
.mains {
  width: 100%;
  height: 54vh;
  overflow-y: scroll;
}

.wrapper {
  width: 100%;
  height: 20vh;
  background-color: rgb(2, 47, 129);
}
.arrow {
  color: white;
  margin: 25px 0px 0px 15px;
}
.section {
  background-color: #b6daf2;
  height: 8vh;
  margin-top: -35px;
  border-radius: 40px 40px 0px 0px;
  border-bottom: 3px solid #ced4da;
}
.salarytext {
  color: rgb(2, 47, 129);
  font-weight: 700;
}
.mainSection {
  padding: 10px;
  background-color: #ffff;
  border-radius: 10px;
  margin: 10px;
  padding: 12px;
}
.textColor {
  color: #0dcaf0;
  font-size: 14px;
}
.dateText {
  color: grey;
  font-size: 14px;
}
.detailsone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.desc {
  font-size: 14px;
}
.borderleft {
  border-left: 3px solid red;
}
@media only screen and (min-height: 730px) {
  .section {
    height: 7vh;
  }
  .mains {
    width: 100%;
    max-height: 58vh;
    overflow-y: scroll;
  }
}
@media only screen and (min-height: 811px) {
  .section {
    height: 7vh;
  }
  .mains {
    width: 100%;
    max-height: 58vh;
    overflow-y: scroll;
  }
}
