<app-header></app-header>
<div class="main mt-5">
    <div class="wrapper pt-4">
        <a href="javascript:void(0)" (click)="back()" class="back">  
            <i class="fa fa-angle-left fa-2x pointer arrow"></i>
        </a>
    </div>
    <div class="section">
        <div class="salaryAdvance">
            <h6 class="salarytext text-center py-3">NOTIFICATIONS</h6>
        </div>
        <div class="mains">
            <div class="mainSection pointer">
                <div class="detailsone">
                    <h6 class="textColor">System Notification</h6>
                    <h6 class="dateText">10 mins ago</h6>
                </div> 
                <div>
                    <h6 class="dateText">Pending Salary Advance</h6>
                </div>
                <div class="borderleft">
                    <h6 class="desc">&nbsp;&nbsp;You have one salary advance request pending...</h6>
                </div>
            </div>
            <div class="mainSection pointer" [routerLink]="['/home/notifications/notification-details']">
                <div class="detailsone">
                    <h6 class="textColor">John doe</h6>
                    <h6 class="dateText">3 hrs ago</h6>
                </div> 
                <div>
                    <h6 class="dateText">Saturday Meeting Notice</h6>
                </div>
                <div class="borderleft">
                    <h6 class="desc">&nbsp;&nbsp;A reminder for meeting has been sent to your...</h6>
                </div>
            </div>
            <div class="mainSection pointer">
                <div class="detailsone">
                    <h6 class="textColor">Sales Admin</h6>
                    <h6 class="dateText">1 day ago</h6>
                </div> 
                <div>
                    <h6 class="dateText">Monthly Deposite Due</h6>
                </div>
                <div class="borderleft">
                    <h6 class="desc">&nbsp;&nbsp;Dear Swapnil, Your monthly deposite for the...</h6>
                </div>
            </div>
            <!-- <div class="mainSection pointer">
                <div class="detailsone">
                    <h6 class="textColor">Tata Mutual Fund</h6>
                    <h6 class="dateText">6 days ago</h6>
                </div> 
                <div>
                    <h6 class="dateText">Monthly Portfolio Disclosure</h6>
                </div>
                <div class="borderleft">
                    <h6 class="desc">&nbsp;&nbsp;Dear Investor, Greetings fro Tata...</h6>
                </div>
            </div> -->
        </div>
    </div>
</div>
<app-footer></app-footer>