.container {
  background-color: #e9ecef;
  height: 23vh;
}
.container1 {
  background-color: rgb(2, 47, 129);
  height: 33vh;
}
.container2 {
  background-color: #e9ecef;
  height: 8vh;
  margin-top: -35px;
  border-radius: 40px 40px 0px 0px;
}
.container3 {
  height: 27vh;
}

.contents {
  border-radius: 26px;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  display: block;
  margin: 85px 2% 0px 2%;
}

.contents1 {
  border-radius: 8px;
  display: inline-block;
  width: 26%;
  margin: 36px 2% 0px 2%;
}

.boxSection-Container {
  width: 100%;
  text-align: center;
}

img {
  height: auto;
  width: 100%;
}

.carousal {
  height: 270px;
  cursor: pointer;
}

::ng-deep .carousel-control-prev {
  left: 8px !important;
}

::ng-deep .carousel-control-next {
  right: 8px !important;
}

::ng-deep .carousel-indicators {
  display: none !important;
}

.imgContainer {
  background: #fff;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
}

.txtContainer {
  max-width: 200px;
  margin: 0 auto;
}

.text {
  color: #ffff;
  font-size: 13px;
}

.main {
  display: flex;
  width: 100%;
}

.salarytext {
  font-weight: 700;
  font-size: 15px;
  padding-top: 18px;
  color: rgb(2, 47, 129);
}

.rupeestext {
  font-weight: 700;
  font-size: 15px;
  padding-top: 15px;
  color: white;
}

.rupees {
  background-color: #17a2b8;
  width: 30%;
  height: 8vh;
  border-radius: 0px 40px 0px 0px;
  border-top: 3px solid #e9ecef;
  border-right: 3px solid #e9ecef;
  border-bottom: 3px solid #e9ecef;
}
.balancetext {
  color: rgb(2, 47, 129);
  font-weight: 600;
}
.withdrawtext {
  font-weight: 600;
}
.lastContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.salaryAdvance {
  width: 70%;
}
.btn2 {
  width: 65%;
  margin: 0 auto;
}

.loanBtn {
  display: flex;
}

.btn3 {
  width: 38%;
  margin: 0 auto;
}

.imgContainer:focus {
  outline: 2px solid #ffff !important;
}

::ng-deep .modal-content {
  background-color: transparent;
  pointer-events: all !important;
  border: none;
}

::ng-deep .modal-header .close {
  padding: 0;
}

.cross {
  color: rgb(2, 47, 129);
}
.card-radious {
  border-radius: 20px 20px 0px 0px;
  background-color: rgb(2, 47, 129);
}
.selectedColor {
  border: 2px solid #ffff;
  border-radius: 10px;
}
.borderClass {
  padding: 5px;
}

.textColor {
  color: #ffff;
  margin: 10px;
}

.gridlist {
  display: flex;
  width: 100%;
  padding: 5px;
  background: white;
  border-bottom: 5px solid #e9ecef;
}

.gridlist .imagedetail {
  width: 33%;
}

.gridlist .detail {
  width: 67%;
  text-align: left;
}
.rupeesdetail {
  color: rgb(2, 47, 129);
  font-size: 15px;
}
.textDetail {
  color: grey;
  font-size: 15px;
}
.imgStyle {
  height: auto;
  width: 65%;
  margin: 5px;
}
.blank {
  padding: 40px;
  background-color: #ffff;
  border-radius: 0px 0px 20px 20px;
}
.AClass {
  border-radius: 50%;
  margin-top: -60px;
}
.btnColor {
  background-color: #ffff;
  height: 36px;
  width: 36px;
}

.btnColor:focus {
  outline: none;
}
.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
  opacity: 0.93;
}
