<app-header></app-header>
<div class="container mt-5">
    <div class="boxSection-Container">
        <div class="contents pointer">
            <ngb-carousel class="py-2">
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="./assets/Card1.png" alt="Random first slide">
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="./assets/Card2.png" alt="Random second slide">
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="./assets/Card3.png" alt="Random third slide">
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>
<div class="container1">
    <div class="boxSection-Container">
		<div class="contents1 pointer" (click)="changeViewType('salary')" >
            <div class="borderClass" [ngClass]="viewType === 'salary' ? 'selectedColor' : ''">
                <div class="imgContainer ">
                    <img src="./assets/Salary.png" />
                </div>
            </div>
            <div class="txtContainer mt-2">
                <h6 class="text">Salary Advance</h6>
            </div>
		</div>
		<div class="contents1 pointer" (click)="changeViewType('loan')">
            <div class="borderClass" [ngClass]="viewType === 'loan' ? 'selectedColor' : ''">
                <div class="imgContainer">
                    <img src="assets/Loan.png" />
                </div>
            </div>
            <div class="txtContainer mt-2">
                <h6 class="text">Loan</h6>
            </div>
		</div>
		<div class="contents1 pointer" (click)="changeViewType('reward')">
            <div class="borderClass" [ngClass]="viewType === 'reward' ? 'selectedColor' : ''">
                <div class="imgContainer">
                    <img src="assets/Cashreward.png" />
                </div>
            </div>
            <div class="txtContainer mt-2">
                <h6 class="text">Cash Reward</h6>
            </div>
		</div>
    </div>
</div>
<ng-container *ngIf="viewType === 'salary'">
<div class="container2">
    <div class="main">
        <div class="salaryAdvance">
            <h6 class="salarytext px-4">SALARY ADVANCE BALANCE</h6>
        </div>
        <div class="rupees">
            <h6 class="rupeestext px-3">Rs.9000</h6>
        </div>
    </div>
</div>
<div class="container3">
    <div class="lastContainer">
        <button [routerLink]="['/home/advance-withdrawal']" class="btn btn2 my-3 btn-outline-primary"><span class="withdrawtext">Withdraw Salary Advance</span></button>
        <span class="balancetext" id="openModalButton"
        (click)="openModal(content)"><u>View All Balances</u></span>
    </div>
</div>
</ng-container>
<ng-container *ngIf="viewType === 'loan'">
    <div class="container2">
        <div class="main">
            <div class="salaryAdvance">
                <h6 class="salarytext px-4">ELIGIBLE LOAN AMOUNT</h6>
            </div>
            <div class="rupees">
                <h6 class="rupeestext px-3">Rs.150000</h6>
            </div>
        </div>
    </div>
    <div class="container3">
        <div class="lastContainer">
            <div class="loanBtn">
                <button type="button" class="btn btn3 my-3 btn-outline-primary"><span class="withdrawtext">Apply Loan</span></button>
                <button type="button" class="btn btn3 my-3 btn-outline-primary"><span class="withdrawtext">Loan Status</span></button>
            </div>
            <span class="balancetext" id="openModalButton"
            (click)="openModal(content)"><u>View All Balances</u></span>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="viewType === 'reward'">
    <div class="container2">
        <div class="main">
            <div class="salaryAdvance">
                <h6 class="salarytext px-4">ELIGIBLE LOAN AMOUNT</h6>
            </div>
            <div class="rupees">
                <h6 class="rupeestext px-3">Rs.150000</h6>
            </div>
        </div>
    </div>
    <div class="container3">
        <div class="lastContainer">
            <div class="loanBtn">
                <button type="button" class="btn btn3 my-3 btn-outline-primary"><span class="withdrawtext">Apply Loan</span></button>
                <button type="button" class="btn btn3 my-3 btn-outline-primary"><span class="withdrawtext">Loan Status</span></button>
            </div>
            <span class="balancetext" id="openModalButton"
            (click)="openModal(content)"><u>View All Balances</u></span>
        </div>
    </div>
</ng-container>
<app-footer></app-footer>
<ng-template #content let-d="dismiss">
    <div class="modal-header" style="border: none;align-items: center;margin-bottom: -15px;">
		<button type="button" class="close AClass btnColor" aria-label="Close" (click)="d('Cross click')">
            <span class="cross" aria-hidden="true">&times;</span>
        </button>
	</div>
    <div class="modal-body">
        <div class="" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="mainCard">
                    <div class="card-radious">
                        <div class="text-center color py-2 mx-2">
                            <h6 class="textColor">ALL BALANCES</h6>
                        </div>
                    </div>  
                    <div class="gridlist pointer">
                        <div class="imagedetail">
                            <img class="imgStyle ml-2 mt-2" src="./assets/SalaryBalance.png">
                        </div>
                        <div class="detail my-2">
                            <h6 class="textDetail">Salary Balance</h6>
                            <h6 class="rupeesdetail">Rs. 9000</h6>
                        </div>
                    </div> 
                    <div class="gridlist pointer">
                        <div class="imagedetail">
                            <img class="imgStyle ml-2 mt-2" src="./assets/LoanBalance.png">
                        </div>
                        <div class="detail my-2">
                            <h6 class="textDetail">Loan Balance</h6>
                            <h6 class="rupeesdetail">Rs. 15000</h6>
                        </div>
                    </div> 
                    <div class="gridlist pointer">
                        <div class="imagedetail">
                            <img class="imgStyle ml-2 mt-2" src="./assets/CashRewardBalance.png">
                        </div>
                        <div class="detail my-2">
                            <h6 class="textDetail">Cash Reward Balance</h6>
                            <h6 class="rupeesdetail">Rs. 2600</h6>
                        </div>
                    </div> 
                    <div class="gridlist pointer">
                        <div class="imagedetail">
                            <img class="imgStyle ml-2 mt-2" src="./assets/RewardPointBalance.png">
                        </div>
                        <div class="detail my-2">
                            <h6 class="textDetail">Reward Point Balance</h6>
                            <h6 class="rupeesdetail">800 Points</h6>
                        </div>
                    </div> 
                    <div class="blank">

                    </div>
                </div> 
            </div>
        </div>
    </div>
  </ng-template>
