<div class="main">
    <div class="wrapper">
        <div class="logo">
            <img src="./assets/Payisy-Logo.png" class="logo-img">
        </div>
        <div class="logo-design"></div>
    </div>

    <div class="section">
        <form [formGroup]="form" (ngSubmit)="onRegistration()">
            <div class="registrationForm top">
                <h4>LOGIN/REGISTRATION</h4>
                <div class="pt-3">  
                    <input class="form-control" formControlName="cmpcode" maxlength="30" type="text" placeholder="Enter Company Code"
                    [ngClass]="{ 'is-invalid': submitted && f.cmpcode.errors }"/>
                    <div *ngIf="submitted && f.cmpcode.errors" class="invalid-feedback">
                        <div *ngIf="f.cmpcode.errors.required">Company code is required</div>
                        <div *ngIf="f.cmpcode.errors.maxlength">Maximum length should be 30</div>
                    </div>
                </div>
                <div class="pt-2">  
                    <input class="form-control" formControlName="mobilenumber"  maxlength="10" (keypress)="keyPress($event)" type="text" placeholder="Enter Mobile Number"
                    [ngClass]="{ 'is-invalid': submitted && f.mobilenumber.errors }"/>
                    <div *ngIf="submitted && f.mobilenumber.errors" class="invalid-feedback">
                        <div *ngIf="f.mobilenumber.errors.required">Mobile number is required</div>
                        <div *ngIf="f.mobilenumber.errors.maxlength">Maximum length should be 10</div>
                    </div>
                </div>
                <div class="mt-5 btnGap">
                    <button type="submit" class="btn" class="btn btnColor btn-primary">Submit</button>
                    <button type="button" (click)="onClear()" class="btn" class="btn btn-block btn-primary">Cancel</button>
                </div>
            </div>     
        </form> 
    </div>
</div>
