<app-header></app-header>
<div class="main mt-5">
    <div class="wrapper pt-4">
        <a href="javascript:void(0)" (click)="back()" class="back">  
            <i class="fa fa-angle-left fa-2x pointer arrow"></i>
        </a>
    </div>
    <div class="section">
        <div class="transaction">
            <h6 class="transactiontext text-center py-3">TRANSACTION HISTORY</h6>
            <div id="openModalButton" (click)="openModal1(content1)"><i class="fa fa-filter fa-2x pointer transactiontext py-2" style="padding-left:40px" aria-hidden="true"></i></div>
        </div>
        <ng-container>
            <div class="mains">
                <div class="mainSection pointer" [routerLink]="['/home/transaction/details']">
                    <div class="detailsone">
                        <h6 class="fontStyle">Tx. Id:&nbsp;<span class="textColor">10253AA003</span></h6>   
                        <h6 class="fontStyle">Satus:&nbsp;<span class="textStatus">Processing</span></h6>   
                        <h6 class="fontStyle">Bank:&nbsp;<span class="textColor">State Bank of India</span></h6>   
                        <h6 class="fontStyle">Amount:&nbsp;<span class="textColor">2000</span></h6>       
                    </div>
                    <div class="detailstwo">
                        <h6 class="fontStyle">Time:&nbsp;<span class="textColor">12:59:00 PM</span></h6>   
                        <h6 class="fontStyle">Type:&nbsp;<span class="textColor">Salary Advance</span></h6>   
                        <h6 class="fontStyle">A/n:&nbsp;<span class="textColor">1004583894332</span></h6>   
                        <h6 class="fontStyle">Rmk:&nbsp;<span class="textRmk">Due to bad connection</span></h6>    
                    </div>
                </div>
                <div class="date text-center">
                    <h6 class="dateStyle"><span>15-10-2021</span></h6>
                </div>
                <div class="mainSection">
                    <div class="detailsone">
                        <h6 class="fontStyle">Tx. Id:&nbsp;<span class="textColor">10253AA003</span></h6>   
                        <h6 class="fontStyle">Satus:&nbsp;<span class="textStatusscl">Successful</span></h6>   
                        <h6 class="fontStyle">Bank:&nbsp;<span class="textColor">State Bank of India</span></h6>   
                        <h6 class="fontStyle">Amount:&nbsp;<span class="textColor">2000</span></h6>       
                    </div>
                    <div class="detailstwo">
                        <h6 class="fontStyle">Time:&nbsp;<span class="textColor">11:24:04 AM</span></h6>   
                        <h6 class="fontStyle">Type:&nbsp;<span class="textColor">Salary Advance</span></h6>   
                        <h6 class="fontStyle">A/n:&nbsp;<span class="textColor">1004583899277</span></h6>   
                        <h6 class="fontStyle">Rmk:&nbsp;<span class="textRmk">Transaction Passed</span></h6>    
                    </div>
                </div>
                <div class="mainSection">
                    <div class="detailsone">
                        <h6 class="fontStyle">Tx. Id:&nbsp;<span class="textColor">10253AA658</span></h6>   
                        <h6 class="fontStyle">Satus:&nbsp;<span class="textStatusfld">Failed</span></h6>   
                        <h6 class="fontStyle">Bank:&nbsp;<span class="textColor">State Bank of India</span></h6>   
                        <h6 class="fontStyle">Amount:&nbsp;<span class="textColor">1500</span></h6>       
                    </div>
                    <div class="detailstwo">
                        <h6 class="fontStyle">Time:&nbsp;<span class="textColor">09:19:23 AM</span></h6>   
                        <h6 class="fontStyle">Type:&nbsp;<span class="textColor">Salary Advance</span></h6>   
                        <h6 class="fontStyle">A/n:&nbsp;<span class="textColor">1004583898946</span></h6>   
                        <h6 class="fontStyle">Rmk:&nbsp;<span class="textRmk">Due to Technical Issue</span></h6>    
                    </div>
                </div>  
            </div>
        </ng-container>
    </div>
</div>
<app-footer></app-footer>
<ng-template #content1 let-d="dismiss">
    <div class="modal-header" style="color: #6c757d;background-color: #e9ecef;border: none;padding:13px;">
        <h6 class="modal-title w-100 text-center">FILTERS</h6>
		<button type="button" class="close AClass btnColor" aria-label="Close" (click)="d('Cross click')">
            <span class="cross" style="padding: 8px 8px;" aria-hidden="true">&times;</span>
        </button>
	</div>
    <div class="modal-body" style="background-color: #ffff;padding: 10px;">
        <div class="" id="transaction" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="mainCard">
                    <div class="textlabel textColor">
                        <h6><u>From Date</u></h6>
                        <h6><u>To Date</u></h6>
                    </div>
                    <div class="textlabel">
                        <input type="date" class="form-control" id="from" value="date">
                        <input type="date" class="form-control" id="to" value="date">
                    </div>
                </div> 
                <div class="status my-2">
                    <div class="statustext">
                        <h6 class="textColors">Transaction Status</h6>
                    </div>
                    <div class="statustype">
                        <input type="radio" class="ml-2" id="credited" name="status" value="credit"><label class="fontSize ml-2" for="credited">Credited to account</label>
                        <input type="radio" class="ml-2" id="rejected" name="status" value="reject"><label class="fontSize ml-2" for="rejected">Rejected</label>
                    </div>
                </div>
                <div class="type">
                    <div class="typetext">
                        <h6 class="textColors">Transaction Type</h6>
                    </div>
                    <div class="statustype">
                        <input type="radio" class="ml-2" id="advance" name="type" value="advance"><label class="fontSize ml-2" for="advance">Salary Advance</label>
                        <input type="radio" class="ml-2" id="loan" name="type" value="loan"><label class="fontSize ml-2" for="loan">Loan</label>
                    </div>
                </div>
                <div class="buttongrp">
                    <span class="textStatusfld mr-3"><u>Clear Filter</u></span>
                    <button type="button" class="btn btn2"><span style="color:#ffff">Apply filter</span></button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

