.mains {
  width: 100%;
  max-height: 54vh;
  overflow-y: scroll;
}

.wrapper {
  width: 100%;
  height: 20vh;
  background-color: rgb(2, 47, 129);
}
.arrow {
  color: white;
  margin: 25px 0px 0px 15px;
}
.section {
  background-color: #b6daf2;
  height: 8vh;
  margin-top: -35px;
  border-radius: 40px 40px 0px 0px;
  border-bottom: 3px solid #ced4da;
}
.transactiontext {
  color: rgb(2, 47, 129);
  font-weight: 700;
}

.transaction {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.mainSection {
  padding: 10px;
  background-color: #ffff;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3px;
  margin: 10px;
}

.mainSection .detailsone {
  width: 51%;
}

.mainSection .detailstwo {
  width: 58%;
}

.fontStyle {
  font-size: 13px;
}

.dateStyle {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #ced4da;
  line-height: 1px;
  max-width: 10px 0 20px;
}

.dateStyle span {
  background: #e9ecef;
  padding: 0 10px;
  font-size: 13px;
  color: #adb5bd;
}

.textColor {
  color: #0dcaf0;
}
.textColors {
  color: #0dcaf0;
  font-size: 15px;
}
.textRmk {
  color: rgb(2, 47, 129);
}
.textStatus {
  color: #ffc107;
}
.textStatusscl {
  color: #31ab4d;
}
.textStatusfld {
  color: #dc3545;
}
.btnColor:focus {
  outline: none;
}
.textlabel {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
#from,
#to {
  width: 49%;
  padding: 4px;
}
.btn2 {
  background-color: rgb(2, 47, 129);
}
.buttongrp {
  float: right;
}
.fontSize {
  font-size: 15px;
}

::ng-deep .modal-content {
  background-color: transparent;
  pointer-events: all !important;
  border: none;
  width: 98%;
  margin: 0 auto;
}

::ng-deep .modal-dialog {
  pointer-events: all !important;
}
::ng-deep .mainCard {
  border-radius: 20px !important;
}

::ng-deep .modal-header .close {
  padding: 0;
}
::ng-deep .close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
  opacity: 1.75;
}

@media only screen and (min-height: 730px) {
  .section {
    height: 7vh;
  }
  .mains {
    width: 100%;
    max-height: 57vh;
    overflow-y: scroll;
  }
}
@media only screen and (min-height: 811px) {
  .section {
    height: 7vh;
  }
  .mains {
    width: 100%;
    max-height: 57vh;
    overflow-y: scroll;
  }
}
