<footer>
    <div class="icons py-2">
        <a routerLink="/home/transaction"><i class="fa fa-history fa-2x pointer iconstyle"></i></a>
        <a routerLink="/home/help"><i class="fa fa-question-circle fa-2x pointer iconstyle"></i></a>
        <a routerLink="/home"><i class="fa fa-home fa-2x pointer iconstyle"></i></a>
        <a routerLink="/home/notifications"><i class="fa fa-bell fa-2x pointer iconstyle"></i></a>
        <a routerLink="/home/profile"><i class="fa fa-user-circle fa-2x pointer iconstyle"></i></a>
    </div>
</footer>