footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 999;
  padding-top: 3px !important;
  padding-bottom: 0px !important;
  border-top: 3px solid #ced4da;
  background-color: #ffff;
}
.iconstyle {
  color: #17a2b8;
  height: 35px;
  width: 30px;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
}
